.plugin-apps{
   ul {
       font-size: 0;
       li{
           cursor: pointer;
           float:left;
           margin:20px 0 0 20px;
           font-size: 14px;
           width:84px;
           img{
               width:64px;
               height: 64px;
           }
       }
       span{
           display: inline-block;
           width:100%;
           text-overflow: ellipsis;
           white-space: nowrap;
           overflow: hidden;
       }
   }
}