.btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.btn-search{
    width:80px;
    height: 32px;
    line-height: 32px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #82cff0;
    &:hover {
        color: #fff;
        background-color: #2e93bc;
    }
}

