.favorites-wrap {
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    background-color: #efefef;
}

.favorites-bar {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    //    height: 36px;
    line-height: 28px;
    margin-left: -20px;
    width: 100%;
    background-color: #679dba;
    .categories {
        padding:4px 8px;
        text-align: center;
        a {
            display: inline-block;
            cursor: pointer;
            margin-right: 12px;
            color:#fff;
            &:hover{
                color: #eee;
            }
        }
    }
    .sys-menu {
        position: absolute;
        right: 30px;
        line-height: 32px;
        bottom: 0;
        a {
            cursor: pointer;
            margin: 0 10px;
            color:#fff;
            &:hover{
                color:#eee;
            }
        }
    }
}

.favorites-view {
    padding: 0 20px;
}

.favorites {
    .clearfix();
    -webkit-transition: all .5s ease-in-out 0s;
    .categories {
        padding-bottom: 250px;
    }
    .category {
        h2 {
            display: flex;
            height: 60px;
            text-indent: 10px;
            line-height: 60px;
            .title {
                margin-right: 20px;
            }
            .edit, .delete {
                visibility: hidden;
                margin: 18px 0 0 15px;
            }
            &:hover {
                .edit, .delete {
                    visibility: visible;
                }
            }
        }
        .sites {
            .clearfix();
            .item-wrap {
                float: left;
                width: 290px;
                position: relative;
                align-items: center;
                height: 120px;
                padding: 10px;
                box-sizing: border-box;
                .item {
                    position: relative;
                    border-radius: 3px;
                    background-color: #fff;
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                .info {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                }
                .icon {
                    position: absolute;
                    z-index: 10;
                    left: 0;
                    display: flex;
                    background: #cfcfcf;
                    width: 80px;
                    height: 100px;
                    align-items: center;
                    justify-content: center;
                    .edit, .delete {
                        position: absolute;
                        visibility: hidden;
                        top: 5px
                    }
                    .edit {
                        right: 44px;
                    }
                    .delete {
                        right: 10px;
                    }
                    &:hover {
                        .edit, .delete {
                            visibility: visible;
                        }
                    }
                    img {
                        height: 80%;
                        vertical-align: middle;
                    }
                    .letter {
                        display: block;
                        overflow: hidden;
                        font-size: 2rem;
                        white-space: nowrap;
                    }
                    &:hover {
                        width: 100%;
                    }
                }
                .details {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 20px;
                    margin-left: 70px;
                    .title {
                        font-size: 1.2rem;
                    }
                    .url {
                        font-size: 0.8rem;
                        opacity: .3;
                    }
                }
            }
            .add-item-wrap {
                .item {
                    text-align: center;
                    background: transparent;
                    .add-title {
                        text-indent: -9999px;
                    }
                    .add-icon {
                        display: inline-block;
                        width: 48px;
                        height: 48px;
                        margin-top: 25px;
                        vertical-align: middle;
                        background: url(../resource/icons/add.png) no-repeat;
                        opacity: .3;
                    }
                }
                &:hover {
                    .item {
                        background: #f7f7f7;
                    }
                    .add-icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.select-color {
    font-size: 0px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    background-color: rgb(255, 102, 0);
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    &.active {
        -webkit-transform: scale(1.3);
        &:hover {
            -webkit-transform: scale(1.3);
        }
    }
    &:hover {
        -webkit-transform: scale(1.2);
    }
}

.category-delete-wrap {
    padding: 10px;
    .desc {
        line-height: 24px;
    }
    .opt {
        padding: 10px 0;
    }
}

.chrome_menu {
//    position: absolute;
//    z-index: 10000000;
//    bottom: 28px;
//    right: 58px;
//    padding: 10px;
    padding-top: 10px;
//    background-color: #367CA1;
    li {
        line-height: 32px;
        text-indent: 24px;
        cursor: pointer;
        padding-right: 20px;
        span {
            color: #222;
            &:hover {
                color: #555;
            }
        }
    }
}
.recently-closed{
    right:0;
}