.favorites-bar{
    position: absolute;
    bottom:0;
    height: 36px;
    line-height: 36px;
    width:100%;
    background-color: #eee;
    .categories{
        text-align: center;
    }
    .sys-menu{
        position: absolute;
        right:0;
        top:0;
    }
}
.favorites{
    .category{
        h2{
            display: flex;
            height: 60px;
            text-indent: 10px;
            line-height: 60px;
            .edit,.delete{
                display: none;
            }
        }
        .sites{
            .item-wrap{
                float: left;
                width:20%;
                position: relative;
                align-items: center;
                height:120px;
                padding:10px;
                box-sizing: border-box;
                .item{
                    position: relative;
                    border-radius: 3px;
                    background-color: #fff;
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                .info{
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                }
                .icon{
                    position: absolute;
                    left:0;
                    display: flex;
                    background: #cfcfcf;
                    width: 80px;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    img{
                        width:80%;
                        vertical-align: middle;
                    }
                }
                .details{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-left: 20px;
                    margin-left: 80px;
                    .title{
                        font-size: 1.2rem;
                    }
                    .url{
                        font-size: 0.8rem;
                        opacity: .3;
                    }
                }
            }
        }
    }
}