.sidebar{
    position: relative;
    height: 100%;
   .plugin-btn{
       position: absolute;
       left:0;
       top:0;
       width:30px;
       overflow: hidden;
       height: 100%;
       background-color: #ddd;
   }
    .plugin-content{
        padding-left: 30px;
        height: 100px;
    }
}