<section class="favorites-view">
    <div class="favorites">
        <ul class="categories"> <!--ng-repeat="cateory in sites track by category.id"-->
            <li class="category" ng-repeat="category in localSites track by category.id">
                <h2><span class="title">{{category.name}}</span>
                    <a class="btn edit">edit</a>
                    <a class="btn delete">delete</a></h2>
                <ul class="sites">
                    <li class="item-wrap" ng-repeat=" item in category.items">
                        <div class="item">
                            <a class="info" ng-style="{'background-image':item.icon}" ng-href="{{item.url}}" target="_self">
                                <div class="icon" ng-style="{'background-color':item.bgColor || '#ddd'}">
                                    <img class="img" ng-if="item.icon" ng-src="{{item.icon}}" src="/resource/icons/s.gif" />
                                    <!--{{item.letter}}-->
                                    <span class="letter" ng-style="{'color':item.color||'#fff'}"  ng-if="!item.icon">{{item.letter | uppercase}}</span>
                                </div>
                                <div class="details">
                                    <span class="title"title="{{item.title}}">{{item.title}}<br></span>
                                    <span class="url" title="{{item.url}}">{{item.url}}</span>
                                </div>
                            </a>
                            <div class="hover-mode" ng-if="!1">
                                <a class="screenshot">
                                    <div class="preview">
                                        无背景提示
                                    </div>
                                </a>
                                <div class="actions">
                                    <div class="btn edit"></div>
                                    <div class="btn delete"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="favorites-bar">
        <div class="categories" id="favorite_categories">
            <a href="#1" class="item"  ng-repeat="category in localSites track by category.id">{{category.name}}</a>
            <a class="insert-category" ng-click="process.insertCategory()" >+</a>
        </div>
        <div class="sys-menu">
            <a >Apps</a>
            <a href="#">最近关闭</a>
        </div>
    </div>
</section>