<section class="favorites-view">
    <div class="favorites">
        <ul class="categories"> <!--ng-repeat="cateory in sites track by category.id"-->
            <li class="category">
                <h2><span class="title">热门推荐</span>
                    <a class="btn edit">edit</a>
                    <a class="btn delete">delete</a></h2>
                <ul class="sites">
                    <li class="item-wrap" ng-repeat=" item in items">
                        <div class="item">
                            <a class="info">
                                <div class="icon" ng-style="{'background-color':item.bgColor}">
                                    <!--<span class="letters">深入</span>-->
                                    <img class="img ng-scope" src="/resource/spots/google.svg">
                                </div>
                                <div class="details">
                                    <span class="title">深入了解 CSS3 新特性<br></span>
                                    <span class="url">ibm.com</span>
                                </div>
                            </a>
                            <div class="hover-mode" ng-if="!1">
                                <a class="screenshot">
                                    <div class="preview">
                                        无背景提示
                                    </div>
                                </a>
                                <div class="actions">
                                    <div class="btn edit"></div>
                                    <div class="btn delete"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="favorites-bar">
        <div class="categories">
            <a href="#1" class="item">推荐</a>
            <a class="insert-category" href="#">+</a>
        </div>
        <div class="sys-menu">
            <a href="#">Apps</a>
            <a href="#">最近关闭</a>
        </div>
    </div>
</section>