<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl">
<head>
    <meta charset='utf-8'>
    <title ng-bind="title"></title>
    <link rel="stylesheet" type="text/css" href="./<%= grunt.config.get('pkg.name') %>.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script type="text/javascript" src="./angular.js"></script>
    <script type="text/javascript" src="./plugin.js"></script>
    <script type="text/javascript" src="./<%= grunt.config.get('pkg.name') %>.js"></script>
</head>
<body>
<div id="container" class="container">
    <div ng-include="'header.tpl.html'"></div>
    <div class="main-view">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="150">
                <div class="sidebar" ng-controller="sideCtrl">
                    <div id="plugin_btn" class="plugin-btn">
                        <ul>
                            <li  ng-class="{active:selectedItem == $index}"  ng-click="process.onClick($index)" ng-repeat="item in sides"><a ng-href="{{item.href}}" title="{{item.title}}" class="{{item.cls}}">{{item.text}}</a></li>
                        </ul>
                    </div>
                    <div id="plugin_content" class="plugin-content">
                        <ng-view />
                    </div>
                </div>
            </bg-pane>
            <bg-pane min-size="200">
                <div ng-include="'favorites/favorites.tpl.html'" class="favorites-wrap"></div>
            </bg-pane>
        </bg-splitter>
    </div>
</div>
</body>
</html>