<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="./<%= grunt.config.get('pkg.name') %>.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script type="text/javascript" src="./angular.js"></script>
    <script type="text/javascript" src="./<%= grunt.config.get('pkg.name') %>.js"></script>
</head>
<body ng-controller="AppCtrl">
<div id="container" class="container">
    <div class="main-view">
        <ng-view />
    </div>
</div>
</body>
</html>