<header class="header">
    <div class="weather" ng-controller="weatherCtrl">
        <div class="current">
            <div class="weather-icon"></div>
            <div class="weather-temp">15</div>
        </div>
        <div class="forecast-weather">
            <div class="tomorrow-panel">
                <div class="weather-icon"></div>
                <div class="weather-temp">15℃~19℃</div>
            </div>

            <div class="tomorrow-panel">
                <div class="weather-icon"></div>
                <div class="weather-temp">25°F~39°F</div>
            </div>
        </div>

    </div>
    <div class="searchCtrl" ng-controller="searchCtrl">
        <section class="search" id="search">
            <input class="ipt" type="text" autocomplete="off" ng-keyup="process.search($event)" ng-model="keyword"
                   placeholder="{{keywordPlaceholder}}" id="keyword" value="" />
            <a class="btn btn-search">搜索</a>
        </section>
        <section class="search-suggest" id="search_suggest">
            <ul ng-if="searchSuggest.length">
                <li ng-class="{selected:selectedItem == $index}" ng-repeat="item in searchSuggest">
                    <a ng-click="process.searchClick(item)">{{item.title}}</a>
                </li>
            </ul>
        </section>
    </div>
</header>

