<header class="header">
    <div class="weather" ng-controller="weatherCtrl">
        <div class="current">
            <div class="weather-icon weather-icon-{{weather.id}}"></div>
            <div class="weather-temp">{{weather.temp}}</div>
            <div class="weather-desc">{{weather.desc}}</div>
        </div>

        <div class="forecast-weather">
            <div class="tomorrow-panel">
                <div class="weather-icon weather-icon-{{tomorrow.id}}"></div>
                <div class="weather-temp">{{tomorrow.min}}~{{tomorrow.max}}</div>
            </div>

            <div class="tomorrow-panel">
                <div class="weather-icon weather-icon-{{afterTomorrow.id}}"></div>
                <div class="weather-temp">{{afterTomorrow.min}}~{{afterTomorrow.max}}</div>
            </div>
        </div>

    </div>
    <div class="searchCtrl" ng-controller="searchCtrl">
        <section class="search" id="search">
            <input class="ipt" type="text" autocomplete="off" ng-keyup="process.search($event)" ng-model="keyword"
                   placeholder="{{keywordPlaceholder}}" id="keyword" value="" />
            <a class="btn btn-search">搜索</a>
        </section>
        <section class="search-suggest" id="search_suggest" ng-if="searchSuggest.length">
            <ul>
                <li ng-class="{selected:selectedItem == $index}" ng-repeat="item in searchSuggest">
                    <a ng-click="process.searchClick(item)">{{item.title}}</a>
                </li>
            </ul>
            <div class="engineSelect">
                <a class="baidu item" ng-class="{'active':activeBaidu}" ng-click="process.setDefaultEngine('baidu')" href="#">baidu</a><a class="google item" ng-click="process.setDefaultEngine('google')"  ng-class="{'active':activeGoogle}" href="#">google</a>
            </div>
        </section>
    </div>
</header>

